<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Logo</a>
        <ul class="left hide-on-med-and-down">
            <li><a th:href="@{/}">Main</a></li>
            <li class="active"><a th:href="@{add-post}">Add Post</a></li>
        </ul>
    </div>
</nav>

    <div class="container">
        <div class="row">
            <div class="col-xl">
                <form method="post" action="/post">
                    <label>Tittle</label>
                    <input type="text" name="tittle"><br>
                    <label>Content</label>
                    <input type="text" name="content"><br>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Add
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../static/js/materialize.min.js"></script>

</body>
</html>