<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>

<head>
    <title>Welcome to Spring MVC Blog</title>
</head>

<body>


<h1>Welcome to Spring MVC</h1>
<h1 th:text="${name}">Yo Yo</h1>
</body>

</html>