<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${listobiektow}">haha</h1>

    <br>

    <th:block th:each="name : ${listobiektow}">
        <h1 th:text="${name}"></h1>
    </th:block>
</body>
</html>